@font-face {
    font-family: 'roberta-regular';
    src: url('../assets/roberta.ttf') format('opentype');
}

.gone {
    display: none;
}

.splash {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.leftDoor {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-image: url('../assets/nonagoninfinity_1.png');
    background-position: right;
    perspective: 500px;
}

.rightDoor {
    z-index: 1;
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 50%;
    right: 0;
    background-image: url('../assets/nonagoninfinity_2.png');
    background-position: left;
}

.leftDoorOpen {
    transform: rotateY(-90deg);
    perspective: 500px;
    transform-origin: left;
    transition: transform;
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
}

.rightDoorOpen {
    transform: rotateY(90deg) perspective(10000px);
    transform-origin: right; 
    transition: transform;
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
}

.openBtn {
    background-color: red;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: roberta-regular, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.5em;
    border-color: black;
}

.openBtn:hover{
    background-color: #030201;
    color: red;
    border-color: red;
}

.fadeIn {
    opacity: 1;
    transition: all 2s;
}

.invisible {
    opacity: 0;
}

.mainMenu {
    margin: 1rem;
}

.header {
    margin: 0 auto;
    max-width: 60rem;
    text-align: center;
    height: 15rem;
    background-image: url('../assets/king-gizzard--the-lizard-wizard-5ac6222ba5359.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1a2a1d8a;
    border: 4px solid #51b84d;
    border-bottom: none;
}

.menuContainer {
    display: grid;
    grid-template-columns: 100%;
    max-width: 60rem;
    margin: 0 auto;
    border: 4px solid #51b84d;
    background-color: #51b84d;
    gap: 2px;
}

.menuItem {
    display: flex;
    font-family: roberta-regular, sans-serif;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    border-inline: 0px solid #1a2a1d;
    height: 4em;
    justify-content: center;
    align-items: center;
    background-color: #1a2a1d;
    padding: 1rem;
    color: #51b84d;
    transition: all 0.3s ease-out;
}

.menuItem:hover, .menuItem:active {
    color: #1a2a1d;
    border-inline: 2rem solid #1a2a1d;
    background-color: #51b84d;
}