@font-face {
    font-family: 'roberta-regular';
    src: url('./assets/roberta.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img  {
    display: block;
}

html {
    background-image: url('./assets/textless.png');
    background-position: bottom;
    background-size: cover;
    min-height: 100%;
}

body {
    height: 100%;
}
